/* RESET CSS */

*{
  padding: 0;
  margin: 0;  
  box-sizing: border-box;
  font-family: "Inter";
  color: #212429;
  scrollbar-color: #212429 white; /* Cambia el color del thumb (scrollbar) */
  scrollbar-width:thin; /* Define el ancho de la scrollbar */
  scroll-behavior: smooth;
  text-decoration: none;
  outline: none;
}
/* RESET CSS */

/* GENERAL KEYFRAMES */

@keyframes appearBoth {
  0%{transform:scale(0)}
  100%{transform:scale(1)}
}

@keyframes appear {
  0%{opacity:0}
  50%{opacity: 1;}
  100%{opacity: 0;}
}

@keyframes appearArrow {
  0%{opacity:0; transform: translateY(-1em);}
  50%{opacity: 1;}
  100%{opacity: 0; }
}
/* GENERAL KEYFRAMES */


/* GENERAL CLASSES */
.textMedium{
font-size: 64px;
}
.textHighlight{
font-size: 86px;
}
.textSmall{
font-size: 32px;
}
/* GENERAL CLASSES */

/* LOGIN */

.loginContainer{
background-color: #F5DF4E;
height: 100vh;
width: 100%;
}

/* LOGIN */

/* NAVBAR */

.navbarContainer{
height: 100vh;
width: 100%;
position: fixed;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgba(0, 0, 0, 0.99);
z-index: 20;
color: white;
animation: navbarAppear 1s both;
}
@keyframes navbarAppear {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
@keyframes navbarDiss {
  0%{opacity: 1;}
  100%{opacity: 0;}
}

.navLinks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.navLinks a{
  color: black;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  animation-delay: 0.5s;
background-color: #F5DF4E;
padding: 0.5em 3em 0.5em 3em;
border-radius: 1em;
transition: 0.5s;
}

@keyframes navbarIcon {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes navbarIconFromLeft {
  0%{transform: translateX(-10em) scale(0); opacity: 0;}
  100%{transform: translateX(0em) scale(1); opacity: 1;}
}
@keyframes navbarIconFromRight {
  0%{transform: translateX(10em) scale(0); opacity: 0;}
  100%{transform: translateX(0em) scale(1); opacity: 1;}
}
.navLinks a:hover{
  transition: 0.5s;
  color: #F5DF4E;
  background-color: #212429;
}


.navbarLanguageBtn:hover{
  background-color: #F5DF4E;
  color: #212429;
  transition:0.3s;
}
/* NAVBAR */

/* MODAL */

.modalContainer{
height: 100vh;
width: 100%;
position: fixed;
background-color: rgba(0, 0, 0, 0.8);
display: flex;
justify-content: center;
align-items: center;
z-index: 30;
animation: modalAppear 0.3s both;
}
@keyframes modalAppear {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
@keyframes modalDisappear {
  0%{opacity: 1;}
  100%{opacity: 0;}
}
.modalContent{
background-color: #212429;
border-radius:1em;
position: relative;
width: 25%;
display: flex;
flex-direction: column;
align-items: center;
gap: 1em;
z-index: 50;
position: relative;
}
.modalContent h2{
  margin-top: 1em;
  color: #F5DF4E;
  font-size: 24px;
}
.modalContent img{
  border-radius: 1em;
}
.projectDescriptionContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projectDescription{
  color:#F5DF4E;
  text-align: center;
  width: 50%;
}
.projectTech{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/* MODAL */


/* HEADER */

.headerContainer{
  position: fixed;
  z-index: 21;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em 5rem 1em 5rem;
  background-color: #F5DF4E;
}

.headerTitleContainer{

}
.headerTitle{
font-size: 32px;
}
.burgerMenuContainer{

}
.burgerMenu{
  width: 24px;
  cursor: pointer;
}



/* HEADER */


/* LANDING */

.landingContainer{
  min-height: 100vh;
  background-color: #F5DF4E;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  box-shadow: 0 3px 0.5em 1px #F5DF4E;
  gap: 2em;
}
.landingLeftSectionContainer{
width: 100%;
display: flex;
flex-direction: column;
justify-content: start;
align-items: start;
}


.landingButtonsContainer{
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
gap: 25%;
margin-top: 1em;
}
.landingButtonsContainer2{
  display: none;
  width: 80%;
  justify-content: center;
  align-items: center;
margin-top: 1em;
flex-wrap: wrap;
}
.landingWorksBtn{
width: 100%;
height: 60px;
background-color: #333A40;
color: white;
border: none;
font-size: 16px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
font-weight: 400;
box-shadow: inset 0px 0 0 0 #F5DF4E;
transition:0.6s;

}
.landingWorksBtn:hover{
  box-shadow: inset -600px 0 0 0 #212429;
  transition:0.6s;
  color: white;
}
.landingContactBtn{
width: 100%;
height: 60px;
border: 2px solid #212429;
background: none;
display: flex;
justify-content: center; 
align-items: center;
font-size: 16px;
cursor: pointer;
font-weight: 500;
box-shadow: inset 0 0 0 0 #212429;
transition:0.3s;
}
.landingContactBtn:hover{
  box-shadow: inset 600px 0 0 0 #212429;
  transition:0.6s;
  color: white;
}
.landingRightSectionContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 340px;
  }
.landingRightBox{
  width: 310px;
  background-color: #212429;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3.5em;
  box-shadow: 0 4px 8px 10px rgba(1, 1, 1, 0.447);
  box-shadow: inset 0px 0 0 0 #333A40;
  animation: openLandingBox 1s both; /* La animación ocurre cuando el mouse pasa por encima */
}
@keyframes openLandingBox {
  0% {
    height: 0px;
    box-shadow: inset -300px 300px 0 0 #333A40;
    opacity: 0;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}
.landingRightImage{
max-width: 468px;
height: 268px;
border-radius: 5em;
background-size: contain;
background-position: top;
opacity: 0;
animation: appearLandingImage 1s both;
animation-delay: 1s; 
}
@keyframes appearLandingImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* LANDING */

/* ABOUT */

.aboutContainer{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
padding: 1em;
}
.aboutSectionsContainer{
  display: flex;
  justify-content: start;
  align-items: start;
width: 100%;
height: 100%;
padding-left: 5%;
}
.aboutLeftSectionContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 1em;
}
.aboutLeftSectionContainer p{
  width: 60%;
  margin-top: 0.5em;
}
.aboutRightSectionContainer{
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.aboutRightSectionContainer h3{
  font-size: 32px;
}
.aboutRightSectionContainer h2{
  font-size: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutRightSectionContainer h2::after{
  content: "";
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background-color: #F5DF4E;
  position: absolute;
  z-index: -1;
}
.aboutSubtitleContainer{
  display: flex;
  background-color: #F5DF4E;
padding: 0.2em 2em 0.2em 2em;
  justify-content: center;
  align-items: center;
}
.aboutSubtitle{
color:#212429;
font-size: 16px;
font-weight: 600;
}
.aboutTitle{
font-size: 32px;
font-weight: 600;
margin-top: 0.2em;
}
.aboutTitleParagraph{
font-size: 46px;
}
.aboutParagraph{
width: 20%;
font-size: 24px;
}
.aboutBoxesContainer{
  margin-top: 5em;
display: flex;
gap: 1em;
}
.aboutBox{
  background-color: #212429;
  width: 258px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ABOUT */

/* WHAT I DO */

.iDoContainer{
min-height: 90vh;
display: flex;
justify-content: start;
align-items: center;
flex-direction: column;
}
.iDoSubtitleContainer{
  display: flex;
  background-color: #F5DF4E;
padding: 0.2em 2em 0.2em 2em;
  justify-content: center;
  align-items: center;
}
.iDoSubtitle{
  color:#212429;
font-size: 16px;
font-weight: 600;
}
.iDoTitle{
  font-size: 32px;
  font-weight: 600;
  margin-top: 0.2em;
  text-align: center;
}


.iDoCard{
width: 100%;
height: 256px;
flex-direction: column;
display: flex;
justify-content: center;
align-items: center;
gap: 0.5em;
margin-top:5em;

}
.iDoCard img{
width: 128px;
height: 128px;
}

.iDoCardTitle{
font-weight: 600;
}
.iDoCardText{
color:#727B83;
width: 50%;
text-align: center;
}
.idoCardsContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
place-content: center;
  height: 100%;
  width: 100%;
  gap: 1em;
}
/* WHAT I DO */



/* PORTFOLIO */

.portfolioContainer{
min-height: 90vh;
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
margin-top: 2em;
}

.portfolioSubtitleContainer{
  display: flex;
  background-color: #F5DF4E;
padding: 0.2em 2em 0.2em 2em;
  justify-content: center;
  align-items: center;
}
.portfolioTitle{
  font-size: 32px;
  font-weight: 600;
  margin-top: 0.2em;
}
.portfolioSubtitle{
  color:#212429;
font-size: 16px;
font-weight: 600;
}

.portfolioLinks{
  margin-top: 1em;
  width: 25%;
  display: flex;
  justify-content: space-between;
}
.portfolioLinkSelected{
width: 120px;
background: none;
border: none;
border-bottom: 2px solid #F5DF4E;
font-size: 20px;
font-weight: 600;
}
.portfolioLinkDisabled{
  width: 120px;
background: none;
border: none;
cursor: pointer;
color:#AAAAAA;
font-size: 20px;
}
.portfolioCardsContainer{
  margin-top: 3em;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}
.portfolioCard{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transition:0.3s;
background-color: rgba(1, 1, 1, 0);
position: relative;
z-index: 11;
}
.portfolioCard::after{
  content: "";
  background-color: rgba(1, 1, 1, 0);
  transition: 0.3s;
  width: 248px;
  height: 248px;
  border-radius: 1em;
  position: absolute;
}
.portfolioCard:hover .cardText{
  display: flex;
  opacity: 1;
  transition: 0.3s;
}
.portfolioCard:hover .cardIcons{
  opacity: 1;
  transition: 0.3s;
}
.cardIcons{
  opacity: 0;
  display: flex;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  position: absolute;
  z-index: 10;
  width: 100%;
}
.cardIcons img{
  width: 64px;
position: relative;
top: 5em;

}
.portfolioCard:hover::after{
  content: "";
  position: absolute;
  width: 248px;
  height: 248px;
  background-color: rgba(1, 1, 1, 0.8);
  transition:0.3s;
}
.cardText{
  display: flex;
  flex-direction: column;
  position: absolute;
opacity: 0;
z-index: 10;
transition: 0.3s;
color: white;
justify-content: center;
align-items: center;
z-index: 20;
}
.cardText img{
  width: 32px;
}
.portfolioCard img{
  border-radius: 1em;
}

/* PORTFOLIO */

/* CLIENTS SPEAK */

.clientsContainer{
height: 90vh;
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
background-color: #212429;
margin-top: 2em;
}

.clientsSubtitleContainer{
  display: flex;
  background-color: #F5DF4E;
padding: 0.2em 2em 0.2em 2em;
  justify-content: center;
  align-items: center;
}
.clientsTitle{
  font-size: 32px;
  font-weight: 600;
  margin-top: 0.2em;
  color: white;
text-align: center;
}
.clientsSubtitle{
  color:#212429;
font-size: 16px;
text-align: center;
font-weight: 600;
}

.clientReview{
display: flex;
height: 100%;
width: 100%;
flex-direction: column;
justify-content: center;
align-items: center;
}
.clientReview p{
  color: white;
  width: 40%;
  text-align: center;
}
.clientReview a{
  color: white;
  width: 40%;
  text-align: center;
}
.clientReview img{
  margin-top: 1em;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

/* CLIENTS SPEAK */

/* CONTACT */

.contactContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #F5DF4E;
  flex-wrap: wrap;
}
.leftContactContainer{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}
.leftContactContainer p{
  width: 50%;
  text-align: center;
  font-size: 32px;
}
.leftContactContainer h3{
  font-size: 42px;
}
.leftContactContainer h2{
  margin-top: 1em;
}
.rightContactContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.rightContactContainer h2{
  margin-top: 1em;
}
.rightContactContainer label{
  font-size: 24px;
  font-weight: 400;
  width: 100%;
  text-align: start;
}
.rightContactContainer input, textarea{
width: 100%;
height: 50px;
border: none;
border-bottom: 3px solid #D7C445;
background: none;
margin-bottom: 1em;
}
textarea{
  width: 100%;
}
.contactBtn{
  background-color: #212429;
  border: none;
  width: 50%;
  height: 50px;
  color: white;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #3b3f42;
  transition:1s;
}
.contactBtn:hover{
  box-shadow: inset 600px 0 0 0 #212429;
  transition:1s;

}
/* CONTACT */


/* MEDIA QUERIES 1200 */

@media (max-width:1200px) {

/* MODAL 1200 */
.modalContent{
  width: 30%;
}
.projectDescription{
  width: 80%;
}

/* MODAL 1200 */


/* ABOUT 1200 */

.aboutLeftSectionContainer p{
  width: 100%;
}

/* ABOUT 1200 */



  /* What I Do 1200 */
.idoCardsContainer{
  grid-template-columns: 1fr;
}
.iDoCard{
  margin-top:5em;
}
  /* What I Do 1200 */

  /* Portfolio 1200 */

.portfolioLinks{
  gap: 5em;
  width: 60%;
}

  /* Portfolio 1200 */

}

/* MEDIA QUERIES 1200 */

/* MEDIA QUERIES 1000 */

@media (max-width:1000px) {
  
/* MODAL 1000 */
.modalContent{
  width: 40%;
}
.projectDescription{
  width: 80%;
}

/* MODAL 1000 */

/* ABOUT 1000 */

.aboutSectionsContainer{
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  padding: 0;
}
.aboutLeftSectionContainer{
  text-align: center;
  justify-content: center;
  align-items: center;
}
.aboutLeftSectionContainer p{
  width: 80%;
}
.aboutBoxesContainer{
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutBox{
  width: 80%;
}
/* ABOUT 1000 */

/* CLIENTS SPEAK 1000 */

.clientReview a{
  width: 70%;
  font-size: 24px;
}

/* CLIENTS SPEAK 1000 */




}

/* MEDIA QUERIES 1000 */


/* MEDIA QUERIES 768 */


@media (max-width:768px) {

/* RESET CSS 768 */

*{
  text-align: center;
}

/* RESET CSS 768 */

/* MODAL 768 */
.modalContent{
  width: 100%;
}
.projectDescription{
  width: 50%;
}

/* MODAL 768 */

  /* GENERAL CLASSES 768 */
.textMedium{
  font-size: 48px;
  }
  .textHighlight{
  font-size: 56px;
  }
  .textSmall{
  font-size: 24px;
  }
  /* GENERAL CLASSES 768 */
  

  /* HEADER 768 */
  .headerContainer{
padding: 1em 3em 1em 3em;
  }
  /* HEADER 768 */

/* LANDING 768 */

.landingContainer{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0%;
}
.landingLeftSectionContainer{
  justify-content: center;
  align-items: center;
}
.landingRightSectionContainer{
  height: 286px;
  border-radius: 5em;
}
.landingRightBox{
  width: 286px;
  height: 286px;
  border-radius: 5em;
}
.landingRightImage{
  width: 226px;
  height: 226px;
}
.landingButtonsContainer{
display: none;
}

.landingButtonsContainer2{
  display: flex;
  gap: 1em;
}
/* LANDING 768 */

/* ABOUT 768 */
.aboutLeftSectionContainer{
justify-content: center;
align-items: center;
text-align: center;
}
.aboutSectionsContainer{
  flex-direction: column;
}
.aboutBoxesContainer{
  flex-direction: column;
  margin-top: 2em;
}

.aboutLeftSectionContainer p{
  width: 100%;
}
.aboutParagraph{
  width: 100%;
}

/* ABOUT 768 */

/* PORTFOLIO 768 */

.portfolioCardsContainer{
  grid-template-columns: 1fr;
}
.portfolioCard:last-child{
  margin-bottom: 2em;
}
.portfolioTitle{
  text-align: center;
}
.portfolioLinks{
  width: 100%;
}
/* PORTFOLIO 768 */

/* CLIENTS SPEAK 768 */
.clientReview p{
  color: white;
  width: 80%;
  text-align: center;
}
.clientReview a{
  color: white;
  width: 80%;
  font-size: 16px;
  text-align: center;
}

/* CLIENTS SPEAK 768 */

/* CONTACT 768 */

.leftContactContainer p{
width: 100%;
font-size: 24px;
}
.leftContactContainer h3, h2{
  font-size: 32px;
}

/* CONTACT 768 */

}

/* MEDIA QUERIES 768 */


/* MEDIA QUERIES 568 */


@media (max-width:568px) {

    /* GENERAL CLASSES 568 */
    .textHighlight{
    font-size: 48px;
    }
.textMedium{
  font-size: 32px;
  }
  .textSmall{
  font-size: 24px;
  }
  /* GENERAL CLASSES 568 */


  /* HEADER 568 */
  .headerContainer{
padding: 1em 1em 1em 1em;
  }
  .headerTitleContainer{
    display: none;
  }
  /* HEADER 568 */


  /* WHAT I DO 568 */

.iDoCard:first-child{
  margin-top: 7em;
}

.iDoCard{
  margin-top: 15em;
}

  /* WHAT I DO 568 */

}

/* MEDIA QUERIES 568 */
